/* body{
    background-color: pink;
} */

/* Navbar */
.navbar {
    hegiht: 5 rem;
    background-color: white;
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.fa-info-links {
    text-decoration: none;
    color: #222222;
}

.fa-info-links a:hover {
    text-decoration: underline;
}


.fa-info-links,.f-info-socials ,.f-info-brand{

    width: 100%;
    diisplay:flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right:1rem;
}
.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}